services:
  postgres:
    image: postgres:16-alpine
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: gymuser
      POSTGRES_PASSWORD: gympass
      POSTGRES_DB: gymdb
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
